In [47]:
import pandas as pd
import numpy as np
from scipy import stats

In [48]:
credit_scores = pd.read_csv("desafio1.csv")

# Resultado esperado

Agrupar os dados dos estados e gerar as seguintes estatisticas:

{"moda": 0.0, "mediana": 0.0, "media": 0.0, "desvio_padrao": 0.0}

In [68]:
df = credit_scores[["pontuacao_credito", "estado_residencia"]]

df.groupby(by="estado_residencia").agg({"pontuacao_credito": [stats.mode, np.median, np.mean, np.std]})

                  pontuacao_credito
                               mode median        mean        std
estado_residencia
PR                    ([850], [47])  650.0  648.961294  98.607186
RS                    ([850], [42])  650.0  651.105143  95.136598
SC                    ([850], [78])  653.0  649.537653  97.233493

In [67]:
df.groupby(by="estado_residencia").describe()

                  pontuacao_credito                                       \
                              count        mean        std    min    25%
estado_residencia
PR                           1731.0  648.961294  98.607186  350.0  581.0
RS                           1750.0  651.105143  95.136598  350.0  585.0
SC                           3519.0  649.537653  97.233493  359.0  581.0


                     50%    75%    max
estado_residencia
PR                 650.0  719.5  850.0
RS                 650.0  717.0  850.0
SC                 653.0  717.0  850.0